<!DOCTYPE html>

<HTML>

<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Andrew Thomsen. Uses data from mapbox.com and darksky.net! </p>
        <img class="portrait" src="./img/me.png">
    </div>

    {{>footer}}
</body>

</HTML>